# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Vim temp files
*~
*.swp
*.swo

# Executables
*.exe
*.out
*.app
asfdscat/asfds
asfdscat/fdscat
checkmod/checkmod
